<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <Link href="css/style.css" rel="stylesheet"></Link>
</head>

<body>

    <div class="container-fluid">
        <nav>
            <%- include('../partials/navbar.ejs', {
                title
            }) %>
        </nav>

        <main class="p-3">
            <div class="row">
                <div class="col"></div>
                <div class="col-12-sm col-md-7 col-lg-5 px-4">
                    <h2 class="d-flex justify-content-center">Login</h2>
                    <form class="mt-2 mb-2" id="signInForm" method="post" action="/auth/signIn/login">
                        <div class="mb-2">
                            <label for="username">Username</label><span class="ms-3 text-danger" id="usernameError"></span>
                            <div class="input-group">
                                <div class="input-group-text">@</div>
                                <input type="text" class="form-control" id="username" placeholder="Ali_Alavi" name="username">
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="password">Password</label><span class="ms-3 text-danger" id="passwordError"></span>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center">
                        <p class="text-danger">
                            <%= message %>
                        </p>
                    </div>

                </div>
                <div class="col"></div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/auth/signIn.js"></script>
</body>

</html>