<div class="col-sm-12 col-md-6 col-lg-4 p-3">
    <!-- <div id="" class="mb-1"></div>
    <div class="mb-1">
        <label for="title">Title</label><span class="ms-3 text-danger" id="titleError"></span>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <p id="no-title-error" class="text-danger"></p>
    <input name="content" type="hidden" id="content"> -->
    <p>
        <%= article.title %>
    </p>
</div>