.display-none {
    display: none
}

.c-pointer {
    cursor: pointer;
}

hr {
    border-top: 1px solid white;
}

.writer-avatar_container {
    width: 50px;
    border-radius: 50%;
}

.post-card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

#editor_viewer {
    height: 400px;
}


/* .post-image {} */


/* .circle-border {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20%;
    padding: 0 10px
} */